@media screen and (max-width: 320px) {
.top_right {
	text-align: center;
	width: 100%;
	float: none;
}
.top_left {
	text-align: center;
	width: 100%;
	float: none;
}
.h_search {
	width: 100%;
	margin: auto;
}
.right-side {
	margin-top: 1em;
}
.design p {
	float: none;
	text-align: center;
}
.bottom_footer {
	text-align: center;

}
.design {
	text-align: center;
}
#footer {
	text-align: center;
}
.footer_menus ul li {
	border: none;
}
.footer_menus ul li a {
	font-size: 12px;
	color: #c5d1e2;
	text-decoration: none;
}
.adress {
	text-align: center;
	width: 100%;
	margin: 0.8em;
}
.adress h2 {
	margin: 0px;
}
.adress p {
	margin: 0px;
}
#fwslider .slidePrev {
	display: none;
}
#fwslider .slideNext {
	display: none;
}
}
 @media screen and (max-width: 768px) {
.rewards {
	background-color: #ff9e16;
}
.rewards img {
	padding: 5px;
}
.rewards a {
	color: #fff;
	font-size: 13px;
}
.store {
	background-color: #48892e;
	margin-top: 1em;
}
.store img {
	padding: 12px;
}
.store a {
	color: #fff;
	font-size: 13px;
}
}
